* {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

html, body, #root, .App {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {

  padding: 5px 25px;
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  border: 5px solid #fff;
  border-radius: 5px;
}
