.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 980px;
  background-color: #dfdfdf;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}


h1 {
  color: #4a586d;
  font-weight: 400;
  font-size: 30px;
}

p {
  color: #4a586d;
  font-weight: 300;
}

.title {
  display: flex;
  justify-content: space-between;
}
