.form-body {
  width: 575px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-body input {
  margin: 10px;
  width: 500px;
}

.submit {
  background-color: #ed9c28;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  font-size: 16px;
  width: 530px;
  align-self: center;
  text-align: center;
  margin: 10px;
}

.submit:hover {
  background-color: #d58512;
}

label {
  align-self: center;
  color: #4a586d;
  text-transform: uppercase;
}

input[type="datetime-local"]{
  padding-right: 324px;
  width: 200px;
}

.error {
  color: rgb(255, 82, 82);
}
