.list {
  flex-direction: column;
}

.list-body {
  width: 100%;
}

.list-header,
.list-item {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.list-header {
  background: #677487;
  color: #fff;
  margin-top: 20px;
  padding-right: 40px;
}

.list-header button {
  width: 150%;
}

.list-item:nth-child(2n+1) {
  background-color: #d0d0d0;
}

.list-item:nth-child(2n+1):hover {
  background-color: #d6d6d6;
}

.list-item:nth-child(2n+2) {
  background-color: #bebcbc;
}

.list-item:nth-child(2n+2):hover {
  background-color: #c4c4c4;
}

.list-item-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.down {
  background-image: url('../down.svg');
  background-position: right;
  background-repeat: no-repeat;
}

.up {
  background-image: url('../up.svg');
  background-position: right;
  background-repeat: no-repeat;
}

.search-input {
  width: 275px;
  background-image: url('../search.svg');
  background-position: left;
  background-repeat: no-repeat;
}

.search-input:focus {
  width: 500px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #4a586d;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #dfdfdf;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #dfdfdf;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
