header {
  width: 100%;
  background-color: #4a586d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  box-shadow: 0 0 3px 0 #acacac;
  align-self: flex-start;
}

.header-container {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  padding: 20px;
  text-transform: uppercase;
  font-size: 13px;
}

.nav-link:hover {
  color: #000;
}
